## -*- coding: utf-8 -*-

<!DOCTYPE html>
<html lang="${lang}">
<head>
    <meta charset="utf-8">
    <meta name="description" content="${description}" >
    <meta name="author" content="${blog_author}">
    <title>${title} | ${blog_title}</title>
    <!-- Le styles -->
    <link href="/assets/css/rst.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/theme.css" rel="stylesheet" type="text/css"/>
    %if has_custom_css:
        <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
    %endif
    %if rss_link:
        ${rss_link}
    %else:
        %for language in translations:
            <link rel="alternate" type="application/rss+xml" title="RSS (${language})" href="${_link('rss', None, lang)}">
        %endfor
    %endif
    %if favicons:
        %for name, file, size in favicons:
            <link rel="${name}" href="${file}" sizes="${size}"/>
        %endfor
    %endif
    <%block name="extra_head">
    </%block>
</head>
<body>
    <div class=container>

      <div class=header>
                <a href="${abs_link('/')}" title="${blog_title}">${blog_title}</a>
                ${blog_desc}

      </div>

      <div class=navigation>
        <ul>
            %for url, text in sidebar_links[lang]:
                % if rel_link(permalink, url) == "#":
                    <li class="active"><a href="${url}">${text}</a>
                %else:
                    <li><a href="${url}">${text}</a>
                %endif
            %endfor
        </ul>
      </div>

      <div class=body>

      <%block name="content"></%block>

      </div>
      <div class=footer>
            <small>${content_footer}</small>
      </div>
    </div>
  </body>
</html>
