## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">
    % for post in posts:

        <div class=entry-overview>
            <div class=date>${post.date.strftime(date_format)}</div>
            <div class=detail>
                <h1><a href="${post.permalink(lang)}">${post.title(lang)}</a></h1>

                <div class=summary>
                    <p>${post.description(lang)}</p>
                </div>
            </div>
        </div>

    % endfor
    ${helper.html_pager()}
</%block>
