## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">
    <div class="postbox">
        ${helper.html_title()}
        <hr>
        <small>
            ${messages[lang]["Posted"]}: ${post.date.strftime(date_format)}
            ${helper.html_translations(post)}
            ${helper.html_tags(post)}
        </small>

        <hr>
        ${post.text(lang)}
    </div>
    <div class="github-edit">
        If you found an error in this post, please <a href="${github_url}/blob/master/${post.path_in_repo}">fix it</a> or <a href="${github_url}/issues">notify me</a>.
    </div>
</%block>
